# Copy to gradle.properties. Use JDK root (parent of bin/). Prefer forward slashes on Windows.
# org.gradle.java.home=C:/Program Files/Java/jdk-25
# org.gradle.java.installations.paths=C:/Program Files/Java/jdk-25
